<div class="guest">
  <div class="container mt-5">
    <div class="intro">
      <img src="{{logoImg}}" alt="logo" class="logo">
    </div>
    <h4><i class="fa fa-heart"></i> Story</h4>
    <hr/>
    <div class="story">
      <p>Sally is a mobile friendly dating website where you can find, like, and message your matches.</p>
      <p>Users of Sally can:</p>
      <ul>
        <li>Have a detailed Profile</li>
        <li>Upload, make Main, and Delete Photos</li>
        <li>Determine matches based on gender and age preferences</li>
        <li>Like other users, and have a list of liked users and likers</li>
        <li>Message Users - Users have an Inbox, Outbox, and Unread Box</li>
      </ul>
      <p>Register now and find your next match with Sally!</p>
      <p>Feel free to test out the website by loggin in as:</p>
      <div>
        <p><strong>Username: </strong> Sally</p>
        <p><strong>password: </strong> password</p>
      </div>
    </div>
    <h4><i class="fa fa-flask"></i> Technologies</h4>
    <hr/>
    <div class="tech">
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
    <h4><i class="fa fa-laptop"></i> Credits</h4>
    <hr/>
    <div class="credits">
      <p>
        <strong>Produced by: </strong>
        <a href="https://www.linkedin.com/in/rogerpalabasan/">Roger Lester Palabasan</a>
      </p>
      <p>
        <strong>Github: </strong>
        <a href="https://github.com/AzuResolute/Sally">github.com/AzuResolute/Sally</a>
      </p>
    </div>
  </div>
</div>

<!-- Sally is a Dating Site that utilizes Angular for our front-end and ASP Net MVC for our back-end.



Users have these functionalities:

- Update their profile details, including Descriptions, Looking For, and Interests
- Upload, optionally using drag and drop, photos. Photo storage is powered by Cloudinary.
- Selecting which of these photos is their main.
Users can interact with others by:

- Specifying the gender, age range, and sorting order of Users they are interested in meeting
- Liking other Users - Users are given lists of those they liked, and who liked them back
- Messaging other Users - Users are given an inbox and outbox for these messages
- Accessing other Users' Details, showing their descriptions, photos, and message history with the current User
Register now and find your next match with Sally! <3 -->