.intro {
    display: flex;
    justify-content: center;
}

.fa-heart{
    color: red;
}

.fa-flask{
    color: green;
}

.fa-laptop{
    color: blue;
}

img.logo {
    max-width: 150px;
    max-height: 150px;
    border: 4px ridge rosybrown;
}