.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    max-width: 50px;
    border: 3px ridge rosybrown;
    display: inline;
}

img.logo {
    background-color: white;
    max-height: 70px;
    max-width: 70px;
   
}