<svg:defs>
  <svg:pattern
    [attr.id]="node.id"
    [attr.height]="'100%'"
    [attr.width]="'100%'"
    [attr.patternContentUnits]="'objectBoundingBox'"
  >
    <svg:image
      [attr.height]="'1'"
      [attr.width]="'1'"
      [attr.preserveAspectRatio]="'none'"
      [attr.xmlns:xlink]="'http://www.w3.org/1999/xlink'"
      [attr.xlink:href]="node.imgUrl"
      >
    </svg:image>
  </svg:pattern>
</svg:defs>
<svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'">
  <svg:circle
    class="node"
    [attr.fill]="'pink'"
    [attr.fill]="'url(#'+ node.id +')'"
    cx="0"
    cy="0"
    [attr.r]="node.r"
    [attr.stroke]="'black'"
    >
  </svg:circle>
  <svg:text
    class="node-name"
    [attr.font-size]="node.fontSize"
    [attr.text-anchor]="'middle'"
    [attr.font-weight]="'bold'"
    >
    {{node.name}}
  </svg:text>
</svg:g>

      <!-- [attr.fill]="node.color" -->
      <!-- <svg:text
      class="node-name"
      [attr.font-size]="node.fontSize"
      >
    {{node.name}}
  </svg:text> -->
        <!-- [attr.xmlns:xlink]="'http://www.w3.org/1999/xlink'" -->