<div class="container mt-5">
  <div *ngIf="currentUser" class="container" style="text-align: center">
    <h4>Welcome {{currentUser.knownAs}}</h4>
    <br/>
    <h5>What do you think of {{matchedUser.knownAs}}</h5>
    <div class="card mb-4">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="{{matchedUser.photoUrl || defaultUserImg}}" alt="{{matchedUser.knownAs}}">
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
          <i class="fa fa-user">{{matchedUser.knownAs}}, {{matchedUser.age}}</i>
        </h6>
        <p class="card-text text-muted text-center">{{matchedUser.city}}</p>
        <button class="btn btn-success w-100" [routerLink]="['/members/', matchedUser.id]">See My Profile</button>
      </div>
    </div>
    <p>Click for more!</p>
  </div>
  <div *ngIf="!registerMode && !currentUser" style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <!-- <button class="btn btn-info btn-lg">Learn more</button> -->
    </div>
  </div>

  <div *ngIf="registerMode && !currentUser" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

